{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;"><a href="/">Home</a></p>

		<section class="column-first">

		<h2 class="govuk-heading-xl">About the digital portfolio</h2>

		<p>This portfolio belongs to the Digital and Technology (D&T) Team.</p>

		<p>If you need access to any of the services then contact <a href="https://myitsm.service-now.com/nav_to.do?uri=%2Fhome_splash.do%3Fsysparm_direct%3Dtrue">ServiceNow</a>.</p>

		<h3 class="govuk-heading-m">How to get something added to the portfolio</h3>
		<ol class="govuk-list govuk-list--number">
		<li>Contact the <a href="mailto:pds@sfa.bis.gov.uk">Provider Digital Services (PDS) team</a></li>
		<li>Work with them to define the problem you want to solve</li>		
		</ol>

		
	</div>

</main>

{% endblock %}
