{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="govuk-heading-xl" style="margin-bottom:15px;">Apprenticeships</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			<br>
			<br>

			<p>The Apprenticeship Service is an online digital interface made up of different functions that have been designed to support the management and uptake of apprenticeships. The service is aimed primarily at employers, giving them greater control of their apprenticeship programmes, making the planning and training of apprenticeships easier and will support the distribution of levy funds.</p>		

			<h2 class="govuk-heading-m">Our customers</h2>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Citizens</li>
				<li>Employers</li>
				<li>Training providers</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m"> Our users</h2>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>Department for Education (DfE)</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m">What we do:</h2>

			<details>
                <summary class="underline">Public services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Apprenticeship Service</li>
                    <li><a href="https://www.gov.uk/recruit-apprentice">Recruit an Apprentice (RaA)</a></li>
                    <li><a href="https://www.gov.uk/apply-apprenticeship">Find an Apprenticeship (FaA)</a></li>
                    <li><a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/">Find apprenticeship training</a></li>
                    <li><a href="https://www.getingofar.gov.uk/">Apprenticeships.org.uk campaign site</a></li>
                    <li><a href="https://nawevents.co.uk/">Apprenticeship Events Map</a></li>
                    <li><a href="https://estimate-my-apprenticeship-funding.sfa.bis.gov.uk/"> Estimate my apprenticeship funding</a></li>
                    <li>Register of apprenticeship training providers (ROATP)</li>
                </ul>
            </details>

                <br>
                <details>
                <summary class="underline">Internal services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Employer</li>
                    <li>CRM</li>
                    <li>PIMS</li>
                </ul>
            </details>

            <p class="margin-top"><a href="/index">Back</a></p>

				
		</section>


		<section class="govuk-column-one-third">

			<div class="phase-circle">
				<p class="circle backlog"></p>
				<p class="circle-label">External</p>
			</div>

			<div class="phase-circle">
				<p class="circle live"></p>
				<p class="circle-label">Cloud</p>
			</div>

			<hr>

			<h3 class="govuk-heading-s">Senior Responsible Officer</h3>
			<p>Eileen Logie</p>

			<h3 class="govuk-heading-s">Head of Service Delivery</h3>
			<p>Gary Tucker</p>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Service Managers</summary>
			<p>Carole Morley</p>
			<p>John Barr-Hall</p>
			</details>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product Owners</summary>
			<p>(Recruit an Apprentice)</p>
			<p>(Find an Apprenticeship)</p>
			<p>(Find Apprenticeship Training)</p>
			<p>(Levy Forecasting Tool)</p>
			<p>(Manage your Apprenticeships)</p>
			<hr>
			</details>
			
		</scetion>
	</div>
</main>

{% endblock %}