{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="govuk-heading-xl" style="margin-bottom:15px;">Data collection</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">
	
			<br>

			<p>Data about learners is collected from a range of training providers and employers, to evidence training delivered. For the majority, this data is the Individualised Learner Record (ILR) data and is returned monthly. The data is validated using current reference data. The verified data feeds into the Funding and Contracting Service for payment and to Data Science for reporting.</p>		

			<h2 class="govuk-heading-m">Our customers</h2>
			<div>

				<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>Department for Education (DfE)</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m">Our users</h2>
			<div>
				<ul class="govuk-list govuk-list--bullet">
				<li>Training Providers</li>
				<li>Colleges</li>
				<li>Employers</li>
				<li>Local authorities</li>
				<li>Academies</li>
				<li>Academy Trusts</li>
				<li>National Careers Service (NCS)</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m">What we do:</h2>

			<details>
                <summary class="underline">Public services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                <li>Data Returns</li>
                <li><a href="https://hub.fasst.org.uk/Pages/fis.aspx">Funding Information System (FIS)</a></li>
                <li><a href="https://des.fasst.org.uk/Learning%20Aims/Pages/default.aspx">Learning Aims Reference Service</a></li>
                <li><a href="https://edrs.lsc.gov.uk/search/lsc/ ">Employer Data Registration Service</a></li>
                <li>ILR Learner Entry Tool </li>
                </ul>
            </details>

            <br>
                <details>
                <summary class="underline">Internal services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Provider Information Management System (PIMS)</li>
                </ul>
            </details>
			
			<p class="margin-top"><a href="/index">Back</a></p>

</section>
		
		<section class="govuk-grid-column-one-third">

			<div class="phase-circle">
				<p class="circle backlog"></p>
				<p class="circle-label">External</p>
			</div>

			<div class="phase-circle">
				<p class="circle live"></p>
				<p class="circle-label">Cloud</p>
			</div>

			<hr>

			<h3 class="govuk-heading-s">Senior Responsible Officer</h3>
			<p>David Craig</p>

			<h3 class="govuk-heading-s">Head of Data Collection</h3>
			<p>Tom Beresford</p>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Service Managers</summary>
			<p>Carole Morley</p>
			<p>Jane Ludlow</p>
			</details>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product Owner</summary>
			<p>Ian Tress</p>
			<hr>
			</details>

		</section>

	</div>
</main>

{% endblock %}