{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="heading-xlarge" style="margin-bottom:15px;">End user computing</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			<br>
			<br>

			<p>Productivity services and collaborative platform including desktop hardware, desktop software, peripherals, Office 365, printing, mobile and desktop telephony, network connectivity, Wi-Fi connectivity, VPN/secure access and file sharing.</p>

			<h2 class="govuk-heading-m">Our customers</h2>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m"> Our users</h2>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>JARDU</li>
				<li>Intervention Team</li>
			</ul>
			</div>		

			<h2 class="govuk-heading-m">What we do:</h2>

			<details>
                <summary class="underline">Internal services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Service Desk Support</li>
                    <li>Local Engineer Support</li>
                    <li>VPN (remote access)</li>
                    <li>BCrypt (local disk encryption)</li>
                    <li>Anti-virus Software on desktop devices</li>
                    <li>Hardware assets including printers</li>
                    <li>Data and Telephony Cabling</li> 
                    <li>Desktop Telephony Services</li>
                    <li>Desktop Software including Office 365</li>
                    <li>Skype for Business</li>
                    <li>WiFi services</li>
                    <li>Team file repository (file sharing)</li>
                    <li>Personal file repository (OneDrive)</li> 
                    <li>Mobile telephony</li>
                    <li>Sharepoint</li>
                    <li>Systems centre configuration manager (software deployment)</li>
                    <li>WePresent wireless projection</li>
                </ul>
            </details>

			<p class="margin-top"><a href="/index">Back</a></p>

</section>
		

		<section class="govuk-grid-column-one-third">

			<div class="phase-circle">
				<p class="circle discovery"></p>
				<p class="circle-label">Internal</p>
			</div>

			
			<hr>

			<h3 class="govuk-heading-s">Senior responsible officer</h3>
			<p>Béatrice Lightfoot</p>

			<h3 class="govuk-heading-s">Head of Service Delivery</h3>
			<p>Dean Williams</p>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Service managers</summary>
			<p>Lee Farndon</p>
			</details>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product owner</summary>
			<p>TBC</p>
			<hr>
			</details>

		</section>
	</div>
</main>

{% endblock %}