{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Corporate Finance</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			
			<br>
			<br>

			<p>Corporate finance: track purchase orders and invoices, make payments, record timesheets, manage college financial reports.</p>		

			<h2 class="govuk-heading-m">Customers</h2>
			<div>
				<p>Skills Funding Agency (SFA) finance</p>
			</div>

			<h2 class="govuk-heading-m">Users</h2>
			<div>
				<p>Skills Funding Agency (SFA), JARDU staff, Schools, Auditors</p>
			</div>

			<h2 class="govuk-heading-m">Service includes:</h2>

			<div class="border-bottom">
				<h3 class="govuk-heading-s">Public</h3>
				<h4>Accounts return</h4>
				<label class="small mini-serivces">
					
				</label>
			</div>

			<div class="border-bottom">
				<h3 class="govuk-heading-s">Internal</h3>
				<h4>Galileo, TS2000, FormScape (SFA Remittances), Award, Inform, BACS, Webseries,  
CODA including expenses, Interfaces and remittances, Reporting, Inform and hosting CODA DR</h4>
				<label class="small mini-serivces">
				<p></p>	
				</label>
			</div>

			<p class="margin-top"><a href="/index">Back</a></p>

</section>
		

		<section class="govuk-grid-column-one-third">

			<div class="phase-circle">
				<p class="circle live"></p>
				
				<p class="circle-label">Public</p>
			</div>

			<div class="phase-circle">
				<p class="circle discovery"></p>
				
				<p class="circle-label">Internal</p>
			</div>

			
			<hr>

			<h3 class="govuk-heading-s">Senior responsible officer</h3>
			<p>Rachel Shooter-Smith</p>

			<h3 class="govuk-heading-s">Service manager</h3>
			<p>Andy Walton</p>
			
			
			<hr>
			
			
			<!-- <p>The <a href="https://github.com/dwpdigitaltech/dwp-portfolio/blob/master/lib/projects/fit-notes.json">content for this page</a> is open source.</p> -->
		</section>
	</div>
</main>

{% endblock %}