{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Funding and contracting</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			<br>

			<p>Services and systems that support the Education and Skills Funding Agency with:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>Payments of funding for further education and apprenticeships</li>
				<li>Education and Skills Funding Agency (ESFA) contracting processes</li>
			</ul>

			<h2 class="govuk-heading-m">Our customers</h2>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>Department for Education (DfE)</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m">Our users</h2>
			<h3 class="govuk-heading-s">Funding Contracting Service (FCS):</h3>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA) staff</li>
			</ul>
			</div>

			<br>

			<h3 class="govuk-heading-s">Skills Funding Service (SFS):</h3>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Training providers</li>
				<li>Colleges</li>
				<li>Large employers</li>
				<li>Local authorities</li>
				<li>Universities</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m">What we do:</h2>

			<details>
                <summary class="underline">Public services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="https://skillsfunding.service.gov.uk/">Skills Funding Service (SFS)</a></li>
                    <li>Delivery statements</li>
                    <li>Contracts and Finance (Hub)</li>
                    <li>FE Connect</li>
                    <li>Provider Gateway</li>
                    <li>Document Exchange (from MI)</li>
                    <li>UKRLP</li>
                </ul>
            </details>            
                <br>
            
            <details>
                <summary class="underline">Internal services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Funding Contracting Service (FCS)</li>
                </ul>
            </details>

			<p class="margin-top"><a href="/index">Back</a></p>

</section>
		
		<section class="govuk-grid-column-one-third">

			<div class="phase-circle">
				<p class="circle backlog"></p>
				<p class="circle-label">External</p>
			</div>

			<div class="phase-circle">
				<p class="circle discovery"></p>
				<p class="circle-label">Internal</p>
			</div>
			
			<div class="phase-circle">
				<p class="circle live"></p>
				<p class="circle-label">Cloud</p>
			</div>
			
			<hr>

			<h3 class="govuk-heading-s">Senior responsible officer</h3>
			<p>Karen Sherry</p>

			<h3 class="govuk-heading-s">Head of Service Delivery</h3>
			<p>Dean Williams</p>

			<br>
			<details> 
			
			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">IT Service manager</summary>
			<p>Zain Osman (FCS and SFS)</p>
			</details>
			
			<br>
			<details>
			
			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Digital Service managers</summary>
			<p>Kath Courtney (FCS)</p>
			<p>Greta Smalley (SFS)</p>
			</details>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product owners</summary>
			<p>Anita Holcroft (FCS)</p>
			<p>Rupinder Lotay (SFS)</p>
			<hr>
			</details>
			
		</section>

	</div>
</main>

{% endblock %}