{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Identity and access management service (IdAMS)</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			<br>
			<br>

			<p>Authentication and authorisation service for, providers, citizens and ESFA staff. Supports secure delivery of core services including DAS (Recruit an Apprentice), NCS, Data Collection, Skills Funding Service and Contracts and Finance.</p>		
			<h2 class="govuk-heading-m">Our customers</h2>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>Citizen Digital</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m">Our users</h2>
			<div>
				<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>In-Sourced Hosting</li>
				<li>Third Party Supplier for AMS</li>
			</ul>

			<h2 class="govuk-heading-m">What we do:</h2>

			<details>
                <summary class="underline">Public services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Information management service (IdAMS) for Partners</li>
                </ul>
            </details>

                <br>
                
             <details>
                <summary class="underline">Internal services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>IdAMS for Staff</li>
                </ul>
            </details>


			<p class="margin-top"><a href="/index">Back</a></p>

		</section>
		

		<section class="govuk-grid-column-one-third">

			<div class="phase-circle">
				<p class="circle backlog"></p>
				<p class="circle-label">External</p>
			</div>

			<div class="phase-circle">
				<p class="circle discovery"></p>
				<p class="circle-label">Internal</p>
			</div>

			<div class="phase-circle">
				<p class="circle live"></p>
				<p class="circle-label">Cloud</p>
			</div>

			<hr>

			<h3 class="govuk-heading-s">Senior responsible officer</h3>
			<p>Béatrice Lightfoot</p>

			<h3 class="govuk-heading-s">Head of Service Delivery</h3>
			<p>Dean Williams</p>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Service managers</summary>
			<p>Paul Cripwell</p>
			</details>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product owner</summary>
			<p>Chris Brown</p>
			<hr>
			</details>

		</section>
	</div>
</main>

{% endblock %}