{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Learning record service (LRS)</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			<br>

			<p>The service offers a suite of IT products and supports the principle to share information with users across the education sector.  The Unique Learner Number (ULN) is a 10-digit identifier assigned learners aged 14 and above.  Linked to the ULN is the Personal Learning Record (PLR).  The PLR is an on-line record which is made up of participation and achievement data.  The service also offers a Learner Plan.  The Learner Plan is used by prisons/offender training providers to record progression of offenders even if they move locations.</p>		

			<h2 class="govuk-heading-m">Our customers</h2>
			<div>
				<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>Local Authorites</li>
				<li>Devolved Administrations (Wales and Northern Ireland)</li>
				<li>Ministry of Justice</li>
				<li>The National Offender Management Service</li>
				<li>Federation of Awarding Bodiess</li>
				<li>Joint Council for Qualifications</li>
				<li>Higher Education Funding Council for England (HEFCE)</li>
				<li>UCAS</li>
				<li>Department for Working Pensions</li>
			</ul>
			</div>
			
			<h2 class="govuk-heading-m">Our users</h2>
			<div>
				<ul class="govuk-list govuk-list--bullet">
				<li>FE Colleges</li>
				<li>Training Providers</li>
				<li>Traineeship/Apprenticeship Providers</li>
				<li>Schools</li>
				<li>Academies</li>
				<li>Prisons (delivering in-house training)</li>
				<li>Universities</li>
				<li>Citizens (access to their Personal Learning Record)</li>
				<li>Auditors (validity of state funding for courses)</li>
				<li>The Federation for Industry Sector Skills and Standards (FISSS)</li>
			</ul>
			</div>


			<h2 class="govuk-heading-m">What we do:</h2>

			<details>
                <summary class="underline">Public services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="https://www.gov.uk/government/publications/lrs-organisation-portal 
"> LRS Organisation Portal</a></li>
                    <li>Suite of Web Services</li>
                    <li>Validation Tool</li>
                    <li>Compatiblity (external facing test enviroment)</li>
                </ul>
            </details>

                <br>
                <details>
                <summary class="underline">Internal services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Data Analytical Capablity (DAC)</li>
                    <li>Pre-prod</li>
                    <li>CI</li>
                    <li>Test</li>
                    <li>UAT</li>
                </ul>
            </details>

			<p class="margin-top"><a href="/index">Back</a></p>

		</section>
		

		<section class="govuk-grid-column-one-third">

		<div class="phase-circle">
				<p class="circle backlog"></p>
				<p class="circle-label">External</p>
			</div>

		<div class="phase-circle">
				<p class="circle live"></p>
				<p class="circle-label">Cloud</p>
			</div>

			<hr>

			<h3 class="govuk-heading-s">Senior responsible officer</h3>
			<p>Iain Bell (DfE)</p>

			<h3 class="govuk-heading-s">Head of Service Delivery</h3>
			<p>Dean Williams</p>

			<br>
			<details> 
			
			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Service managers</summary>
			<p>Carole Morley</p>
			<p>Ushma Gill</p>
			
			</details>
			
			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product owner</summary>
			<p>Greg Fowler</p>
			<hr>
			</details>
			
		</section>
			
			<hr>
			
			
			<!-- <p>The <a href="https://github.com/dwpdigitaltech/dwp-portfolio/blob/master/lib/projects/fit-notes.json">content for this page</a> is open source.</p> -->
		</section>
	</div>
</main>

{% endblock %}