{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Management information</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			<br>

			<p>Service to store, share and report information and data we hold to users internally and externally.  The vision is to maximise self-service to enable user to get the information they need without having to raise a request.</p>		

			<h2 class="heading-medium">Our customers</h2>
			<div>

				<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
				<li>Department for Education (DfE)</li>
			</ul>
			</div>

			<h2 class="heading-medium">Our users</h2>
			<div>

				<ul class="govuk-list govuk-list--bullet">
				<li>Office for Standards in Education (OFSTED)</li>
				<li>Local Enterprise Partnerships (LEPs)</li>
				<li>Combined Authorities (CAs)</li>
				<li>Institute for Apprenticeships (IfA)</li>
				<li>Provider</li>
				<li>Public</li>
			</ul>
			</div>

			<h2 class="heading-medium">What we do:</h2>

			<details>
                <summary class="underline">Public services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>MI Library</li>
                    <li>Program delivery and performance (PDP) FTP</li>
                    <li>Data Publications and Sharing</li>
                </ul>
            </details>

                <br>
                <details>
                <summary class="underline">Internal services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>MI Library</li>
                    <li>BI dashboards</li>
                    <li>Birst access control management</li>
                    <li>Birst appliance and content</li>
                    <li>Data warehouse</li>
                    <li>Program delivery and performance (PDP) file share</li>
                    <li>MI Library</li>
                    <li>Program delivery and performance (PDP) FTP</li>
                    <li>SQL Server Reporting Services (SSRS) Reporting</li>
                  	<li>Statistical Package for the Social Science (SPSS)</li>
                  	<li>Data Publications and Sharing</li>
                </ul>
            </details>

			<p class="margin-top"><a href="/index">Back</a></p>

</section>
		

		<section class="govuk-grid-column-one-third">

			<div class="phase-circle">
				<p class="circle discovery"></p>
				<p class="circle-label">Internal</p>
			</div>

			<div class="phase-circle">
				<p class="circle live"></p>
				<p class="circle-label">Cloud</p>
			</div>

			<hr>

			<h3 class="govuk-heading-s">Senior responsible officer</h3>
			<p>David Craig</p>

			<h3 class="govuk-heading-s">Head of Management Information</h3>
			<p>Dean Williams</p>

			<br>
			<details> 
			
			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Service managers</summary>
			<p>Carole Morley</p>
			<p>Jane Ludlow</p>
			<p>Stuart Baillie</p>
			</details>
						
			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product owners</summary>
			<p>Drew Hird</p>
			<p>Tejinder Manik</p>
			<hr>
			</details>			
			
			<!-- <p>The <a href="https://github.com/dwpdigitaltech/dwp-portfolio/blob/master/lib/projects/fit-notes.json">content for this page</a> is open source.</p> -->
		</section>
	</div>
</main>

{% endblock %}