{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<p style="margin-top:30px;"><a href="/">Home</a></p>

	<h1 class="heading-xlarge" style="margin-bottom:15px;">National Careers Service (NCS)</h1>

	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">

			<br>
			<br>

			<p>The National Careers Service (NCS) provides everyone aged 13 and over, information, advice and resources to help adults make more effective choices about skills, careers, work and life.  Adults can access the service online, or with the help of an adviser either on the telephone or face-to-face.</p>		

			<h2 class="govuk-heading-m">Our customers</h2>
			<div>
			<ul class="govuk-list govuk-list--bullet">
				<li>Education and Skills Funding Agency (ESFA)</li>
			</ul>
			</div>

			<h2 class="govuk-heading-m">Our users</h2>
			<div>
				<ul class="govuk-list govuk-list--bullet">
				<li>Citizens</li>
				<li>Job Centre Plus (JCP) and area based career advisors</li>
			</ul>

			<h2 class="govuk-heading-m">What we do:</h2>

			<details>
                <summary class="underline">Public services</summary>
                <p>
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="https://www.gov.uk/career-development-loans/overview">Professional Carrier Developments Loans (PCDL)</a></li>
                    <li><a href="https://coursedirectoryproviderportal.org.uk/Home">Course Directory</a></li>
                    <li><a href="https://nationalcareersservice.direct.gov.uk/">National Careers Service Website</a></li>
                    <li>FE Choices</li>
                </ul>
            </details>

			<p class="margin-top"><a href="/index">Back</a></p>	
					
				
			
		</section>
		<section class="govuk-grid-column-one-third">

			
			<div class="phase-circle">
				<p class="circle backlog"></p>
				<p class="circle-label">External</p>
			</div>

			<div class="phase-circle">
				<p class="circle live"></p>
				<p class="circle-label">Cloud</p>
			</div>

			<hr>

			<h3 class="govuk-heading-s">Senior responsible officer</h3>
			<p>Joe Billington</p>

			<h3 class="govuk-heading-s">Head of Service</h3>
			<p>Louise Proctor</p>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Service managers</summary>
			<p>Carole Morley</p>
			<p>John Barr-Hall</p>
			</details>

			<br>
			<details>

			<h3 class="govuk-heading-s"></h3>
			<summary class="underline">Product owner</summary>
			<p>Angela Scale</p>
			<hr>
			</details>
			
		</section>
	</div>
</main>

{% endblock %}